@import url('http://fonts.cdnfonts.com/css/cocogoose');

/* ============================BASE STYLES===================================== */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: transparent;
  font-family: 'Lato', sans-serif;
}

.container {
  width: 88%;
  margin: 0 auto;
}

.no-scroll {
  overflow: hidden;
}

nav {
  width: 100%;
}

/* ============================UPPER NAV BAR===================================== */
header nav .up {
  background: #3e3e3e;
  height: 2rem;
}

header nav .up ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.join a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}

.nav-menu li a {
  transition: all 300ms ease-in;
}

header nav .down ul a {
  color: #272a31;
  font-weight: 600;
}

header nav .up ul li a {
  color: #fff;
  padding-top: 3rem;
  font-size: 0.9rem;
}

header nav .up ul li {
  padding-top: 0.4rem;
}

/* ============================LOWER NAV BAR===================================== */
header nav .down {
  background: #fff;
}

header nav .down .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

header nav .down ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

/* ============================HAMBURGER===================================== */
.hamburger {
  display: none;
}

.line {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu li a:hover {
  color: #ec5242;
}

.nav-link {
  font-weight: 300;
  color: #272a31;
}

.nav-logo {
  font-size: 1.2rem;
  font-weight: 900;
  color: #272a31;
  opacity: 0.7;
}

.nav-menu .nav-list:nth-child(6) a {
  color: #ec5242;
}

.nav-menu .nav-list:nth-child(6) a:hover {
  color: #272a31;
}

.campaign {
  border: 2px solid #ec5242;
  padding: 0.4rem;
}

.acpn-logo {
  max-width: 100%;
  height: auto;
}

/* ============================MAIN STARTS===================================== */
main {
  background: url(images/main_big.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.main-opening {
  padding-top: 4rem;
}

.about-opening {
  display: grid;
  place-items: center;
  padding-bottom: 4rem;
}

.main-opening .intro {
  color: #ec5242;
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}

.main-opening h1 {
  color: #ec5242;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2rem;
  font-family: 'Cocogoose', sans-serif;
  background-clip: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(
    45deg,
    #f40001,
    #ec5242,
    rgb(255, 64, 0),
    rgb(255, 123, 0),
    #a00000,
    #f65112,
    #ec5242
  );
}

.main-opening .description {
  color: #272a31;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.7;
  border: 3px solid #fff;
  padding: 1.5rem;
  opacity: 0.8;
}

.main-opening .about-description {
  background: #fff;
  border: 2px solid rgba(46, 47, 49, 0.1);
}

.main-opening time {
  color: #272a31;
  font-size: 2.2rem;
  font-weight: 900;
  opacity: 0.7;
}

.main-opening .venue {
  color: #272a31;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 1rem 0 9rem;
  opacity: 0.7;
}

.main-opening .about-venue {
  color: #272a31;
  font-size: 0.94rem;
  font-weight: 700;
  padding: 1rem 0 2rem;
  text-align: center;
  opacity: 0.7;
}

.main-opening .email {
  color: #272a31;
  font-size: 1rem;
  font-weight: 700;
}

.main-opening .email:hover {
  text-decoration: underline;
}

a.email {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

/* MAIN ENDS */

/* ABOUT SUB-SECTION STARTS */
.ending {
  background: #fff;
  width: 100%;
}

.ending h2 {
  color: #272a33;
  padding: 2rem 0 1rem;
  text-align: center;
  opacity: 0.8;
}

.ending hr {
  border-bottom: 2px solid #ec5242;
  width: 12%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.ending .dash {
  border-bottom: 2px solid #272a33;
  width: 100%;
  margin-bottom: 1rem;
  opacity: 0.1;
}

.ending p {
  color: #272a31;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem 0 2rem;
  text-align: center;
  opacity: 0.8;
}

.meeting-start {
  background: url('images/acpn-conference-Abuja.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ec5242;
  background-blend-mode: multiply;
  height: 80vh;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 80vh;
}

.meeting-middle {
  background: url('images/acpn-conference-Enugu.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ec5242;
  background-blend-mode: multiply;
  height: 80vh;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 80vh;
}

.meeting-header {
  color: #fff;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}

.ending .meeting {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 900;
  text-align: center;
}

.acpn {
  color: #414246;
  font-weight: 900;
  font-size: 1.5rem;
  margin: 1rem auto 3rem;
  width: 50%;
  text-align: center;
  padding: 2.5rem 2rem;
  border: 2px solid rgb(224, 223, 223);
}

/* ABOUT SUB-SECTION ENDS */

/* PARTNER STARTS */
.partner {
  background-color: rgb(65, 66, 70);
  padding: 50px 0;
}

.partner h4 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
  color: #fff;
}

.partner hr {
  border-bottom: 2px solid #ec5242;
  width: 12%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.sponsor-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sponsor-item {
  margin-bottom: 30px;
}

.partner-logo {
  width: 120px;
  height: auto;
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
}

.partner-logo:hover {
  filter: none;
  transform: scale(1.1);
}
/* PARTNER ENDS */

/* --------------------------------PROGRAM STARTS------------------------------ */
.events {
  background: url('images/cross.svg');
  background-repeat: repeat;
  background-color: #272a33;
  width: 100%;
  height: auto;
}

.events h2 {
  color: #fff;
  text-align: center;
  padding: 3rem 0 1.1rem;
}

.events hr {
  border-bottom: 2px solid #ec5242;
  width: 15%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.events-content {
  padding-bottom: 2rem;
}

.events-content .content p {
  color: #fff;
  margin: 0 auto;
  width: 70%;
}

.events-content .content .icon {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: #fff;
  width: 30%;
}

.events-content .content .icon i {
  font-size: 3rem;
  opacity: 1;
}

.events-content .content .icon h3 {
  font-size: 1.4rem;
  color: #ec5242;
}

.join {
  background-color: #ec5242;
  width: 70%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* SPEAKERS STARTS */
.speakers h2 {
  color: #272a31;
  text-align: center;
  padding: 3rem 0 1.1rem;
}

.speakers hr {
  border-bottom: 2px solid #ec5242;
  width: 15%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.guest-speakers {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  padding-bottom: 2rem;
}

.speakers-details {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1.2rem;
}

.speakers-details img {
  width: 50%;
  max-width: 15rem;
  height: auto;
  object-fit: contain;
}

.speakers-details .details h4 {
  color: #272a33;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.speakers-details .details .title {
  color: #ec5242;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-style: italic;
}

.speakers-details .details hr {
  border-bottom: 2px solid #272a33;
  width: 10%;
  margin: 0 0 1rem 0;
  opacity: 0.3;
}

.speakers-details .details .position {
  color: #272a33;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.4;
}

/* SPEAKERS ENDS */

/* FOOTER STARTS */

footer {
  width: 600px;
  background: #fff;
}

.footer-content {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.footer-content h5 {
  color: #272a33;
  font-weight: 900;
  font-size: 1.1rem;
}

.footer-content .footer-text {
  color: #272a33;
  font-weight: 900;
  font-size: 0.8rem;
  opacity: 0.8;
}

/* MEDIA QUERY STARTS */
@media only screen and (max-width: 420px) {
  .main-opening .description {
    font-size: 1rem;
    font-weight: 700;
  }

  .main-opening h1 {
    font-size: 2rem;
    font-weight: 700;
  }

  .main-opening .intro {
    font-size: 1.6rem;
  }

  .main-opening time {
    font-size: 1.3rem;
    font-weight: 700;
  }

  .main-opening .venue {
    font-size: 0.95rem;
    font-weight: 700;
  }

  /* PARTNER STARTS */
  .partner {
    background-color: rgb(65, 66, 70);
    padding: 50px 0;
  }

  .partner h4 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    color: #fff;
  }

  .partner hr {
    border-bottom: 2px solid #ec5242;
    width: 12%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .sponsor-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .sponsor-item {
    margin-bottom: 30px;
  }

  .partner-logo {
    width: 120px;
    height: auto;
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
  }

  .partner-logo:hover {
    filter: none;
    transform: scale(1.1);
  }
  /* PARTNER ENDS */
  /* PROGRAM */

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding: 100px 0;
  }
  .icon {
    display: flex;
    align-items: center;
  }
  .icon i {
    margin-right: 1rem;
  }
  .icon h3 {
    margin: 0;
  }
  .content p {
    margin: 0;
    text-align: justify;
    padding: 50px;
    margin-left: 5px;
  }
  .word {
    margin-right: 10px;
  }

  /* .events-content .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 0.5rem 1rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
  }

  

  .events-content .content .icon {
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }

  .acpn {
    width: 80%;
  } */

  /* ===============================SPEAKERS================================== */

  .speakers-details {
    flex-direction: column;
  }

  .speakers-details img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
  }

  .speakers-details .details h4 {
    text-align: center;
  }

  .speakers-details .details .title {
    text-align: center;
  }

  .about-page hr {
    display: none;
  }

  .speakers-details .details hr {
    margin: auto;
  }

  .speakers-details .details .position {
    text-align: center;
    margin-top: 1rem;
  }

  .show {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  header {
    background: url('images/mob-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }

  header nav .up {
    display: none;
  }

  .nav-logo {
    display: none;
  }

  .nav-link {
    font-size: 1.1rem;
  }

  .nav-list {
    margin: 1.4rem 0;
  }

  .nav-menu .nav-list:nth-child(6) a {
    display: none;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 4rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 1;
    height: 100vh;
  }

  .nav-menu.active {
    left: 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .about-page hr {
    display: none;
  }

  .acpn {
    width: 80%;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  main {
    background: url('images/mob-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
  }

  .main-opening time {
    font-size: 1.7rem;
    font-weight: 700;
  }

  .main-opening .venue {
    font-size: 1rem;
  }

  /* MAIN ENDS */

  .meeting-start {
    height: 70vh;
    max-height: 70vh;
  }

  .meeting-middle {
    height: 70vh;
    max-height: 70vh;
  }

  .show {
    display: none;
  }

  .sponsor {
    display: none;
  }

  footer {
    display: none;
  }

  #footer-about {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .about-hide {
    display: none;
  }

  header nav .down ul a {
    font-size: 1.1rem;
    font-weight: 700;
    opacity: 0.7;
  }

  .about-header {
    width: 60%;
    margin: 0 auto;
    line-height: 1.1;
  }

  .about-page hr {
    border-bottom: 3px solid #dd4332;
    width: 3%;
  }

  .main-opening .description {
    font-size: 1rem;
    width: 80%;
  }

  .main-opening .about-description {
    font-size: 1.1rem;
    width: 70%;
    margin: 3rem auto;
  }

  .events-content .content .icon i {
    font-size: 2.3rem;
  }

  .events-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    align-content: center;
  }

  .events-content .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.1rem 0 0;
    transition: all 300ms ease;
    padding: 1rem 0;
    gap: 0;
  }

  .events-content .content:hover {
    border: 1px solid #fff;
    cursor: pointer;
  }

  .events-content .content .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .events-content .content .icon h3 {
    margin-bottom: 1rem;
  }

  .events-content .content p {
    font-weight: 700;
    line-height: 1.4;
    width: 90%;
    font-size: 0.82rem;
    padding: 0 0.2rem;
  }

  .speakers-details img {
    width: 30%;
  }

  .join {
    display: none;
  }

  .show {
    text-decoration: underline;
    text-align: center;
    color: #fff;
    padding: 4rem 0 5rem;
    font-weight: 700;
  }

  .show:hover {
    cursor: pointer;
  }

  #meeting {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    gap: 1.3rem;
    margin: 3rem 0 6rem;
  }

  .meeting-start,
  .meeting-middle {
    height: 70vh;
    max-height: 70vh;
  }

  .partner {
    display: none;
  }

  .sponsor {
    display: block;
  }

  footer {
    width: 100%;
    background: #2e2e2e;
  }

  .footer-content h5,
  .footer-content .footer-text {
    color: #fff;
  }

  .footer-content .footer-text {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
  }

  .footer-content h5 {
    font-weight: 900;
    font-size: 1.4rem;
  }

  #footer-home {
    background: #2e2e2e;
  }

  #footer-home .container {
    padding: 6rem 0;
  }

  #footer-home h5,
  #footer-home .footer-text {
    color: #fff;
  }
}

@media only screen and (min-width: 1000px) {
  .guest-speakers {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .speakers-details img {
    width: 25%;
  }

  .speakers-details .details .position {
    font-size: 1.1rem;
    font-weight: 700;
    opacity: 0.7;
  }

  .events-content .content p {
    font-size: 1.1rem;
  }
}
